
body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
margin-top:40px;
}

.container{
width:650px;
margin:auto;
}

.card{
background:#1e293b;
padding:30px;
border-radius:10px;
margin-top:30px;
}

.service{
display:flex;
justify-content:space-between;
margin:20px;
font-size:20px;
}

.status{
width:20px;
height:20px;
border-radius:50%;
}

.green{
background:#00ff88;
animation:blink 1s infinite;
}

.red{
background:#ff4d4d;
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1;}
50%{opacity:0.3;}
100%{opacity:1;}
}

.message{
margin-top:40px;
background:#1e293b;
padding:20px;
border-radius:10px;
}

.author{
color:#38bdf8;
}
